<!DOCTYPE html>
<html>
  <head>
    <title>Warcraft III Unit Countering</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body style="background-image: url(<%= asset_path('background.png', digest: false) %>); background-repeat: no-repeat; background-size: inherit; background-color: black; color: #edecec; font-size: 16px;">
    <%= yield %>
  </body>
</html>
